@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap');


*{
    font-family: 'Montserrat', sans-serif;
    
}
a{
    text-decoration: none;
}

.home-banner{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.8)),url(./assets/banner.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-banner h1{
    padding-top: 50px;
    padding-bottom: 10px;
    color: goldenrod;
    letter-spacing: 5px;
}
.home-banner p{
    letter-spacing: 2px;
}


